# Copy this file to .env and set values

PORT=5000
NODE_ENV=development
JWT_SECRET=eduflow_dev_2026_super_long_random_secret_change_me
JWT_EXPIRES_IN=12h

DB_HOST=localhost
DB_PORT=3306
DB_NAME=eduflow
DB_USER=root
DB_PASS=root
